@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #232323;
}
.status{
color:red;
}
.boxshaddow {
  box-shadow: 1px 5px 17px -1px rgba(236, 43, 88, 0.75);
  -webkit-box-shadow: 1px 5px 17px -1px rgba(236, 43, 88, 0.75);
  -moz-box-shadow: 1px 5px 17px -1px rgba(236, 43, 88, 0.75);
}
.rotate {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.noSelection {
  user-select: none;
}
.element-without-scrollbar {
  /* Hide the default scrollbars */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  /* Add custom scrollbar styles */
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Add custom scrollbar styles for WebKit browsers (Chrome, Safari) */
.element-without-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.element-without-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.element-without-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
