@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #232323;
}

.boxshaddow {
  box-shadow: 1px 5px 17px -1px rgba(236, 43, 88, 0.75);
  -webkit-box-shadow: 1px 5px 17px -1px rgba(236, 43, 88, 0.75);
  -moz-box-shadow: 1px 5px 17px -1px rgba(236, 43, 88, 0.75);
}
